<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/add_product.css">
</head>
<body>
	<ul class="nav">
		<li class="left-item"><a href="home.html">Home</a></li>
		<li class="left-item"><a href="#">About</a> </li>
		<li class="left-item"><a href="#">Contact</a></li>
		<li class="right-item"><a href="login.html">Login</a> </li>
		<li class="right-item"><a href="register.html">Register</a></li>
	</ul>
	<div class="box">
	<div class="left">
		<ul class="sidebar">
			<li class="list-item"><a href="add_product.html">Add Items</a></li>
			<li class="list-item"><a href="products.html">View Products</a></li>
			<li class="list-item"><a href="sales.html">View Record Sales</a></li>
			<li class="list-item"><a href="">FAQs</a></li>
		</ul>
	</div>
	<h1 class="dash">Add Product</h1>
	<div class="center">		
	<form action="cart.html" class="form">
	<div class="form-input">
	<label>Name</label>
	<input class="input-form" type="text" placeholder="Name"/>
	</div>
	<div class="form-input">
	<label>Quantity</label>
	<input class="input-form" type="text" placeholder="Quantity"/>
	</div>
	<div class="form-input">
	<label>Category</label>
	<input class="input-form" type="text" placeholder="Category"/>
	</div>
	<div class="form-input">
	<label>Description</label>
	<input class="input-form" type="text" placeholder="Description"/>
	</div>
	<div class="form-input">
	<input class="input-form button" type="submit" value="Add"/>
	</div>
    </div>
    </form>
    </div>
    <footer>
		<p>Copyright &copy; 2018</p>
	</footer>
</body>
</html>