<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/add_product.css">
</head>
<body>
	<ul class="nav">
		<li class="left-item"><a href="#">Home</a></li>
		<li class="left-item"><a href="#">About</a> </li>
		<li class="left-item"><a href="#">Contact</a></li>
		<li class="right-item"><a href="#">Login</a> </li>
		<li class="right-item"><a href="#">Register</a></li>
	</ul>
	<div class="box">
	<div class="left">
		<ul class="sidebar">
			<li class="list-item">Add Items</li>
			<li class="list-item">View Items</li>
			<li class="list-item">View Record Sales</li>
			<li class="list-item">FAQs</li>
		</ul>
	</div>
	<div class="center">		
	    <h1>Add a product</h1>
	<form action="add_product.html" class="form">
	<div class="form-input">
	<label>Name</label>
	<input class="input-form" type="text" placeholder="Name"/>
	</div>
	<div class="form-input">
	<label>Quantity</label>
	<input class="input-form" type="text" placeholder="Quantity"/>
	</div>
	<div class="form-input">
	<label>Category</label>
	<input class="input-form" type="text" placeholder="Category"/>
	</div>
	<div class="form-input">
	<label>Description</label>
	<input class="input-form" type="text" placeholder="Description"/>
	</div>
	<div class="form-input">
	<input class="input-form button" type="submit" value="Submit"/>
	</div>
	<div class="form-input">
    <input class="input-form" type="checkbox"/>Remember me   Forgot password?
    </div>
    </div>
    </form>
</div>
</body>
</html>