<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>
<body>
	<ul class="nav">
		<li class="left-item"><a href="home.html" class="nav-item">Home</a></li>
		<li class="left-item"><a href="#" class="nav-item">About</a> </li>
		<li class="left-item"><a href="#" class="nav-item">Contact</a></li>
		<li class="right-item"><a href="login.html" class="nav-item">Login</a> </li>
		<li class="right-item"><a href="register.html" class="nav-item">Register</a></li>
	</ul>
	<div class="left">
		<ul class="sidebar">
			<li class="list-item"><a href="add_product.html">Add Product</a></li>
			<li class="list-item"><a href="products.html">View Products</a></li>
			<li class="list-item"><a href="sales.html">View Record Sales</a></li>
			<li class="list-item"><a href="profile.html">Create Profile</a></li>
			<li class="list-item"><a href="">FAQs</a></li>
		</ul>
	</div>
		<h1 class="dash">Dashboard</h1>
		<img src="../images/sales-1.jpg">
		<img src="../images/piechart2.png">
	<footer>
		<p>Copyright &copy; 2018</p>
	</footer>
</body>
</html>