<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/products.css">
</head>
<body>
	<ul class="nav">
		<li class="left-item"><a href="home.html" class="nav-item">Home</a></li>
		<li class="left-item"><a href="#" class="nav-item">About</a> </li>
		<li class="left-item"><a href="#" class="nav-item">Contact</a></li>
		<li class="right-item"><a href="login.html" class="nav-item">Login</a> </li>
		<li class="right-item"><a href="register.html" class="nav-item">Register</a></li>
	</ul>
	<div class="left">
		<ul class="sidebar">
			<li class="list-item"><a href="add_product.html">Add Product</a></li>
			<li class="list-item"><a href="products.html">View Products</a></li>
			<li class="list-item"><a href="sales.html">View Record Sales</a></li>
			<li class="list-item"><a href="">FAQs</a></li>
		</ul>
	</div>
		<h1 class="dash">Products</h1>
		<div class="photos">
			<div>
			    <img src="../images/television.png">
			        <a href="product.html" class="pro-link">Television</a>
			</div>
			<div>
			    <img src="../images/speakers.png">
			        <a href="product.html" class="pro-link">Speakers</a>
			</div>
			<div>
			    <img src="../images/laptop1.jpg">
			        <a href="product.html" class="pro-link">Laptop</a>
		    </div>
		    <div>
			    <img src="../images/iphone.jpg">
			        <a href="product.html" class="pro-link">Iphone</a>
		    </div>
		    <div>
			    <img src="../images/laptop1.jpg">
			        <a href="product.html" class="pro-link">laptop</a>
		    </div>
	<footer>
		<p>Copyright &copy; 2018</p>
	</footer>
</body>
</html>