.box-1 {
	background-image: url(../images/store_manager.jpg);
	font-family: Helvetica;
	margin: auto;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: grey;
	padding: 14px 16px;
	/*height: 60px;*/
}

.left-item, .right-item {
	float: left;
	display: block; 
	color: white;
	text-align: center;
	padding: 0px;
	margin-right: 15px;
}

.nav-item {
	text-decoration: none;
}

.right-item {
	float: right !important;
}
a {
	color: white;
}

a:hover{
	color: red;
	text-underline-position: none;
}

.form {
	
	background-color: coral;
	color: #fff;
	padding: 20px;
	margin: auto !important; 
}

.form .form-input {
	padding-bottom: 15px;
}

.form label {
	/* block to diplay on another line */
	display: block;
}

 .form input[type="text"], .form input[type="password"] {
	/* make my inputs bigger */
	padding: 7px;
	width: 100%;
	margin-right: 5px !important;
	border-radius: 3px;
}

.button {
	background-color: grey;
	color: #fff;
	padding: 10px 15px;
	border: none;
}
.main {
	width: 600px;
	margin-top: 100px;
	margin-left: 400px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: white;
	text-align: center;
}

.reminder {
	text-decoration: none;
	font-size: 13px;
	padding-left: 50px;
}

span {
	font-size: 13px;
}

@media only screen and (max-width: 400px) {
    .main{
    	width: 300px !important;
    }
}